<section id="game-area">
    <div id="point-area-1" class="point-area"></div>
    <div id="fx">
        <div id="target-hit"></div>
        <div id="explosion-10" class="fullscreen"></div>
        <div id="ground-hit"></div>
        <div id="background-fx"></div>
    </div>
    <div id="target">
        <div id="health-bar">
            <div id="hp-left"></div>
        </div>
    </div>
    <div id="left-hand"></div>
    <div id="right-hand"></div>
    <div id="debug-points"></div>
    <div id="trajectory-points"></div>
    <div id="arrow-head-points"></div>
    <div id="arrow-shaft-points"></div>
    <div id="arrow-end-points"></div>
    <span id="current-hit" class="ui hit-animation"></span>
    <div id="released-arrows"></div>
    <div id="stationary-arrows"></div>
    <div id="timer" class="ui"></div>
</section>
