<section class="ui">

    <label id="menu" class="switch">
        <input type="checkbox" id="toggle">        
        @if (this.screenService.ScreenState$() === start) {
            <span id="menu-slider" 
                class="slider ui label" 
                (click)="this.soundService.toggleSound()"
            >
                <span id ='slider-label'>{{this.toggleText$()}}</span>
            </span>
        }
        @if (this.screenService.ScreenState$() === game) {
            <app-menu></app-menu>
            <!-- <span id="menu-burger" class="burger ui label">
                <span id ='burger-label'>menu</span>
                <p id="option-return">return</p>
                <p id="option-sound" style="display: none;">sound: off</p>
                <p id="option-end-game" style="display: none;">end game</p>
            </span> -->
        }
    </label>

    @if (this.screenService.ScreenState$() === game) {
        <span id="score" class="ui">score: 0</span>
    }
    
</section>    
